<div class="row p-2 justify-content-center">
  <div class="col-md-4 col-sm-10 p-1 mb-1 flex-last">
    <img src="assets/images/banjo.png" class="img-fluid">
  </div>
  <div class="col-md-8 col-sm-11 ml-2">
    <p>
      Computer scientist and software developer with Undergraduate and Graduate degrees
      from the Clemson University School of Computing. I have a range of industry and leadership
      experiences through my university TA work as well as summer jobs like visualization developer
      for the Medical University of South Carolina Bioinformatics Division.
    </p>
    <p>
      I’m professionally interested in practical software development including
      “Big Data” systems integration, web frameworks, website design, and data visualization.
      I particularly enjoy learning/working with the abundance of new JavaScript “full-stack”
      frameworks (Angular, Node, etc.) which have come to dominate bleeding edge web application design.
    </p>
  </div>
</div>
