<div class="justify-content-center align-items-center">
  <div class="card p-2 my-4">
    <h4 class="card-title">Angular Material Demo</h4>
    <h6 class="card-subtitle mb-2 text-muted">Skeleton app using Angular 2 + Material</h6>
    <img class="card-img-top" src="assets/images/mat.png">
    <div class="card-block mt-2">
      <p class="card-text">
        A demo website using Angular 2, Angular Material 2, and Bootstrap.
        Range of inputs, elements, structural components, and Angular 2 features.
        Easily extensible, as show below.
      </p>
      <a href="http://angular-mat.herokuapp.com" class="btn btn-primary">Visit Site</a>
      <a href="https://bitbucket.org/nicklaus_glyder/angular-mat-demo" class="btn btn-social btn-bitbucket">
        <span class="fa fa-bitbucket"></span><span class="ml-4">Source</span>
      </a>
    </div>
  </div>

  <div class="card p-2 my-4">
    <h4 class="card-title">Angular Pops App Demo</h4>
    <h6 class="card-subtitle mb-2 text-muted">MEAN app with live data interaction</h6>
    <img class="card-img-top" src="assets/images/pops.png">
    <div class="card-block mt-2">
      <p class="card-text">
        Sample MEAN app with CRUD API backend. Using Mongo (mLab), express.js, Angular 2, and Node.
        Simple document model with a live database, making full use of Angular 2 components
        such as pipes, cached services, animations, and component I/O.
      </p>
      <a href="http://angular-pops.herokuapp.com" class="btn btn-primary">Visit Site</a>
      <a href="https://bitbucket.org/nicklaus_glyder/angular-pops" class="btn btn-social btn-bitbucket">
        <span class="fa fa-bitbucket"></span><span class="ml-4">Source</span>
      </a>
    </div>
  </div>
</div>
