<div class="row justify-content-center">
  <div class="card-block col-10">
    <div class="card">
      <div class="card-header">
        <span>Awards and Recognitions</span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Palmetto Fellows Scholarship
              <span class="ml-auto">2012-2016</span>
            </li>
            <li class="list-group-item">
              Clemson University President's Scholarship
              <span class="ml-auto">2012-2016</span>
            </li>
            <li class="list-group-item">
              Clemson University President's List
              <span class="ml-auto">2012-2016</span>
            </li>
            <li class="list-group-item">
              Best Project Presentation - Clemson Data Science and Network Analysis Student Conference
              <span class="ml-auto">2016</span>
            </li>
            <li class="list-group-item justify-content-center text-center">
              <img src="assets/images/bowman-field.jpg" class="img-fluid">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
