<div class="row justify-content-center">
  <div class="card-block col-10">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <p>
          I love cooking, especially Italian cuisine! Lasagna is my specialty.
          In an unhealthy relationship with coffee, and I love podcasts like 99% Invisible and Radio Lab.
        </p>
        <p>
          My favorite kind of music is Bluegrass/Americana, and I'm a self-taught banjo player.
          Avett Brothers, Steeldrivers, Punch Brothers; let me know if you're into that kind of music too!
        </p>
        <p>
          Most importantly, I'm a dog lover. My cocker spaniel Watson is my little buddy through it all.
        </p>
      </div>
      <div class="col-md-2 col-sm-12 text-center">
        <img src="assets/images/watson.jpg"
             class="img-fluid">
      </div>      
    </div>
  </div>
</div>
