<div class="container-fluid align-items-stretch site-wrapper">
  <header class="row">
    <div class="col-10 justify-content-end d-flex">
      <nav class="d-flex">
        <a routerLink='' class="nav-link">Home</a>
        <a routerLink='/resume' class="nav-link">Resume</a>
        <a routerLink='/examples' class="nav-link">Examples</a>
      </nav>
    </div>
  </header>

  <div class="row justify-content-center p-2 site-content">
    <div class="col-12 p-1">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="row">
    <hr class="col-10"/>
    <div class="w-100"></div>
    <div class="col-10">
      <address class="d-flex flex-column align-items-start">
        <span class="fa fa-envelope p-1">
        <a href="mailto:nickglyder@gmail.com"
           style="color: white;">nickglyder@gmail.com</a></span>
        <span class="fa fa-mail-forward p-1">
          1012 Banker Court, Charleston SC, 29466
        </span>
      </address>
    </div>
  </footer>
</div>
