div.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  padding: 1.5em;
}

header {
  nav {
    .nav-link {
      padding: 0.5em 0.5em;
      font-weight: bold;
      color: rgba(255,255,255,.75);
      background-color: transparent;
      border-bottom: 0.25em solid transparent;

      &:hover, &:focus {
        border-bottom-color: rgba(255,255,255,.5);
      }
    }
    .nav-link.active {
      border-bottom-color: white;
    }

    .nav-dropdown {
      padding: 0;
      font-weight: bold;
      color: rgba(255,255,255,.75);
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    .dropdown-menu {
      padding: 0.5em 0.5em;
      font-weight: bold;
      color: rgba(255,255,255,.75);
      background-color: rgba(255,255,255,0.25);
      border-color: white;
      button {
        color: rgba(255,255,255,.75);
        font-weight: bold;
        &:hover {
          color: black;
        }
      }
    }

  }

}

footer {
  padding-bottom: 3em;
}
