<div class="row justify-content-center">
  <div class="card-block col-10">
    <div class="card">
      <div class="card-header">
        <span>CLEMSON UNIVERSITY - <em>Undergraduate/Graduate TA</em></span>
        <span class="float-right"><em>Clemson SC, August 2015-May 2018</em></span>
      </div>
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Grade and assist Clemson faculty for multiple undergraduate courses</li>
            <li class="list-group-item">Develop auto-grading scripts in Ruby, Python, Bash</li>
            <li class="list-group-item">Meet with students for drop-in hours to discuss project grades/course content</li>
            <li class="list-group-item">Lead lab sections for more than 100 students</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
          <a href="http://www.clemson.edu">
            <img src="assets/images/1889-crest.jpg" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block col-10">
    <div class="card">
      <div class="card-header">
        <span>MUSC (Medical University of SC) - <em>Bioinformatics Web Developer</em></span>
        <span class="float-right"><em>Charleston SC, Summer 2016</em></span>
      </div>
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Develop AngularJS web frontend for medical data visualization</li>
            <li class="list-group-item">Create D3 and DCJS visualization modules</li>
            <li class="list-group-item">Explore data visualization techniques for "big" medical data</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
          <a href="http://academicdepartments.musc.edu/musc/">
            <img src="assets/images/musc.png" class="img-fluid p-4">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block col-10">
    <div class="card">
      <div class="card-header">
        <span>BENEFITFOCUS - <em>Critical Support/Web Engineer</em></span>
        <span class="float-right"><em>Charleston SC, Summer 2014/2015</em></span>
      </div>
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Triage and resolve software bugs in large scale Java Enterprise systems</li>
            <li class="list-group-item">Design and implement new web application features</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 text-center align-items-center">
          <a href="https://www.benefitfocus.com/" class="text-center">
            <img class="img-fluid" src="assets/images/bf.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
