<div class="card">
  <div class="card-header">
    Resume
  </div>
  <ul class="nav nav-pills d-flex flex-row flex-wrap justify-content-center p-1 mb-2">
    <li class="nav-item">
      <a [routerLink]="[{outlets: {'resume-content': 'profile'}}]"
         [routerLinkActive]="['active']"
          class="nav-link">Profile</a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {'resume-content': 'education'}}]"
          [routerLinkActive]="['active']"
          class="nav-link">Education</a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {'resume-content': 'work'}}]"
          [routerLinkActive]="['active']"
          class="nav-link">Work</a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {'resume-content': 'technology'}}]"
          [routerLinkActive]="['active']"
          class="nav-link">Technology</a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {'resume-content': 'awards'}}]"
          [routerLinkActive]="['active']"
          class="nav-link">Awards</a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {'resume-content': 'personal'}}]"
          [routerLinkActive]="['active']"
          class="nav-link">Personal</a>
    </li>
  </ul>
  <div class="card-block">
    <router-outlet name="resume-content"></router-outlet>
  </div>
</div>
