<div class="row justify-content-center">
  <div class="col-10 d-flex flex-wrap justify-content-center">
    <div *ngFor="let tech of techIcons">
      <div class="justify-content-center p-1">
        <app-tech-icon [icon]="tech"></app-tech-icon>
      </div>
    </div>
  </div>
</div>
