/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap-social/bootstrap-social.css";

html, body {
  height: 100%;
  background-color: rgb(81, 97, 124);
  overflow-y:scroll;
  font-size: 16px;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

body {
  color: #fff;
}

@include media-breakpoint-down(md) {
  html {
    font-size: 12px;
  }
}
