<div class="row justify-content-center">
  <div class="card-block col-10">
    <div class="card">
      <div class="card-header">
        <span>Undergraduate: Clemson University</span>
        <span class="float-right">Clemson SC, 2012-2016</span>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Clemson School of Computing</li>
            <li class="list-group-item">B.S. Computer Science - Graduated May 2016</li>
            <li class="list-group-item">
              Cumulative GPA: <b>3.97</b> Computer Science GPA: <b>3.97</b>
            </li>
            <li class="list-group-item">
              Studied a wide range of topics including graphics,
              big data systems, and software design principles.
              Worked as a TA, personal/general tutor, and lab assistant</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block col-10">
    <div class="card">
      <div class="card-header">
        <span>Graduate: Clemson University</span>
        <span class="float-right">Clemson SC, 2016-2018</span>
      </div>
      <div class="row">
        <div class="col-12 w-100">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Clemson School of Computing</li>
            <li class="list-group-item">Masters of Computer Science - Expected Graduation May 2018</li>
            <li class="list-group-item justify-content-center text-center">
              <img src="assets/images/clemson_logo.gif" class="img-fluid">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
