<div class="row justify-content-center align-items-center text-center">
  <div class="col-6 col-md-4 col-lg-4">
    <img src="assets/images/me.png" alt="me"
         class="rounded img-fluid img-thumbnail"/>
  </div>

  <div class="w-100"></div>

  <div class="col-12 col-md-8 col-lg-8 p-2">
    <h3 class="display-4">
      <p>Nicklaus Walker Glyder</p>
    </h3>
    <h4>Online Resume and Resources</h4>
  </div>

  <div class="w-100"></div>

  <div class="col-md-4 col-lg-4 col-10 justify-content-center">
    <a href="assets/files/nick-glyder-resume.pdf" class="btn btn-block btn-secondary">
      PDF of Resume
    </a>
    <a href="https://bitbucket.org/nicklaus_glyder/" class="btn btn-block btn-social btn-bitbucket">
      <span class="fa fa-bitbucket"></span> Bitbucket Repos
    </a>
    <a href="https://www.linkedin.com/in/nickglyder/" class="btn btn-block btn-social btn-linkedin">
      <span class="fa fa-linkedin"></span> LinkedIn Profile
    </a>
    <a href="mailto:nickglyder@gmail.com" class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Contact via Email
    </a>
  </div>
</div>
